
.switch {
    @apply transition-colors;

    width: 50px;
    min-width: 50px;
    height: 25px;
    border-radius: 100px;

    > div {
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

}