

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.expanded-card{
  @apply fixed;
  @apply top-1/2;
  @apply left-1/2;
  @apply bg-slate-700;
  @apply cursor-pointer;
  @apply rounded;
}

.-z-1{
  z-index: -1;
}

.z-0{
  z-index: 0;
}

.light-shadow{
  box-shadow: 0 0 0 15px rgba(255,255,255,0.05);
}

.btn{
  @apply text-lg items-center pl-3 pr-5 py-2 rounded cursor-pointer active:scale-95 transition-all flex gap-x-1
}

.btn.primary{
  @apply bg-yellow-500 text-slate-800 hover:bg-yellow-600
}

.btn.secondary{
  @apply bg-slate-700 text-white/90 hover:bg-slate-600
}